/* Soluzione qui */

@media screen and (min-width:768px){
    
    

    #topbar{
        justify-content: left;
    }

    .container {
        padding: 40px;
    }

    .recipe-origin{
        display: inline;
    }
    
    .recipe-title{
        font-size: 30px;
    }

    .quick-notes ul{
        display: flex;
    }

    .quick-notes li{
        padding: 15px;
    }


    .social-networks button{
        font-size: 30px;
        padding: 0 50px 0 50px;
        margin-bottom: 30px;
    }
    
    


    .ads{
        display: inline;
    
}
    .clearfix img{
        float: left;
        padding: 10px;
    }

    .recipe-video{
        margin-bottom: 40px;
    }

    .recipe-video img{
        width: 100%;
    }


}
    


@media screen and (min-width: 992px){


    .recipe-card{
        display: flex;
    }

    .recipe-video{
        height: auto;
    }

    

    .recipe-info{
        width: 30%;
    }

    .quick-notes{
        margin: 0px;
    }



    .recipe-title{
        font-size: 50px;
    }

    .quick-notes ul{
        flex-direction: column;
        
    }
    .social-networks button{
        padding: 10px 20px;
    }
   
    .social-networks .label{
        display: inline-block;
        font-size: 15px;
    }

    footer{
        display: flex;
        justify-content: space-between;

    }

       




}