/* Soluzione qui */

@media screen and (min-width:768px){
    
    

    #topbar{
        justify-content: left;
    }

    .container {
        padding: 40px;
    }

    .recipe-origin{
        display: inline;
    }
    
    .recipe-title{
        font-size: 30px;
    }

    .quick-notes ul{
        display: flex;
    }

    .quick-notes li{
        padding: 15px;
    }


    .social-networks .btn{
        font-size: 40px;
    }
    
    .ads{
        display: inline;
    
}
    .clearfix img{
        float: left;
        padding: 10px;
    }

    .recipe-video img{
        width: 100%;
    
    }


}
    


@media screen and (min-width: 992px){

    .recipe-title{
        font-size: 50px;
    }

    .quick-notes ul{
        flex-direction: column;
        
    }

   
    .social-networks .label{
        display: inline;
        font-size: 20px;
    }

    footer{
        display: flex;
        justify-content: space-between;

    }





}